<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       
        <add name="AmbifluxAdmin.Properties.Settings.AIPLConnectionString"
            connectionString="Data Source=193.55.104.238;Initial Catalog=AIPL;User ID=Ambiflux;Password=ambiflux"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>